{% block table_pagination %}
  
    <ul{{ {'class': classes['ul']|join(' ')}|format_attributes }}>
      {# Left arrow #}
      {% if currentPage == 0 %}
        <li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}>
          <a>{{ prevLabel|raw }}</a>
        </li>
      {% else %}
        <li{{ {'class': classes['li']['default']|join(' ')}|format_attributes }}>
          <a href="{{ page_url(parameterName, currentPage) }}">{{ prevLabel|raw }}</a>
        </li>
      {% endif %}

      {# Pages #}      
      {%if pages|length <= 10 %}        
        {% for index,page in pages %}
          {% if page == currentPage %}
            {% set attributes = {'class': classes['li']['active']|join(' ')} %}
          {% else %}
            {% set attributes = {'class': classes['li']['default']|join(' ')} %}
          {% endif %}
          <li{{ attributes|format_attributes }}>
            <a href="{{ page_url(parameterName, page+1) }}">{{ page+1 }}</a>
          </li>
          {% if index+1 < pages|length and pages[index+1]-page > 1 %}
            <li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}><a>...</a></li>
          {% endif %}
        {% endfor %}      
      {% else %}
        {% if currentPage-4 > 0 %}          
          <li{{ {'class': classes['li']['default']|join(' ')}|format_attributes }}>
            <a href="{{ page_url(parameterName, 1) }}">1</a>
          </li>
          {% if currentPage-4!=1 %}
            <li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}><a>...</a></li>
          {% endif %}
        {% endif %}
        
        {% for i in range(currentPage-4, currentPage+4) %}
          {% if i>=0 and i<pages|length %}
            {% if i == currentPage %}
              {% set attributes = {'class': classes['li']['active']|join(' ')} %}
            {% else %}
              {% set attributes = {'class': classes['li']['default']|join(' ')} %}
            {% endif %}
            <li{{ attributes|format_attributes }}>
              <a href="{{ page_url(parameterName, i+1) }}">{{ i+1 }}</a>
            </li>
          {% endif %}
        {% endfor %}
        
        {% if currentPage+5 < pages|length %}
          {% if currentPage+6 != pages|length %}
            <li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}><a>...</a></li>
          {% endif %}
          <li{{ {'class': classes['li']['default']|join(' ')}|format_attributes }}>
            <a href="{{ page_url(parameterName, pages|length) }}">{{ pages|length }}</a>
          </li>
        {% endif %}
      {% endif %}

      {# Right arrow #}
      {% if currentPage == totalPages-1 %}
        <li{{ {'class': classes['li']['disabled']|join(' ')}|format_attributes }}>
          <a>{{ nextLabel|raw }}</a>
        </li>
      {% else %}
        <li{{ {'class': classes['li']['default']|join(' ')}|format_attributes }}>
          <a href="{{ page_url(parameterName, currentPage+2) }}">{{ nextLabel|raw }}</a>
        </li>
      {% endif %}
    </ul>
    
    <div{{ {'class': classes['ul']|join(' ') ~ ' pagination-result'}|format_attributes }}>
      <span>{{ items }} / {{ 'table.result' | transchoice(total_items, {'%count%': total_items}) }}</span>
    </div>
  
{% endblock %}

{% block table_pagination_option %}
  
    {{ table_pagination_option_begin(tableView) }}
    {{ table_pagination_option_label(tableView) }}
    {{ table_pagination_option_input(tableView) }}
    {{ table_pagination_option_button(tableView) }}
    {{ table_pagination_option_end(tableView) }}
  
{% endblock %}

{% block table_pagination_option_begin %}
  
    <form method="post" name="{{ tableName }}_option">
      <input type="hidden" name="table_option_values_table_name" value="{{ tableName }}" />
    
  {% endblock %}

  {% block table_pagination_option_label %}
    
      {% if label %}
        <label for="{{ tableName }}_option_values"{{ labelAttributes|format_attributes }}>{{ label }}</label>
      {% endif %}
    
  {% endblock %}

  {% block table_pagination_option_input %}
    
      <select name="{{ tableName }}_option_values" id="{{ tableName }}_option_values"{{ attributes|format_attributes }}>
        {% for value in values %}
          <option{% if currentValue == value %} selected="selected"{% endif %}>{{ value }}</option>
        {% endfor %}
      </select>
    
  {% endblock %}

  {% block table_pagination_option_button %}
    
      <input type="submit" name="submit_{{ tableName }}_option_values" value="{{ submitLabel }}"{{ submitAttributes|format_attributes }} />
    
  {% endblock %}

  {% block table_pagination_option_end %}
    
    </form>
  
{% endblock %}