{% block table %}
  {% apply spaceless %}
    {% if isPaginatable %}
      {{ table_pagination(view) }}
    {% endif %}
    {{ table_begin(view, options) }}
    {{ table_head(view, options) }}
    {{ table_body(view, options) }}
    {{ table_end(view, options) }}
    {% if isPaginatable %}
      {{ table_pagination(view) }}
    {% endif %}
  {% endapply %}
{% endblock %}

{% block table_begin %}
  {% apply spaceless %}
    <div class="table-responsive">
      {% if isSelectable %}
        <form name="form_selection_{{ name }}" method="post">
          <input type="hidden" name="is_selection_{{ name }}" value="{{ name }}" />
        {% endif %}
        <table id="{{ name }}"{{ attributes|format_attributes }}>
        {% endapply %}
      {% endblock %}

      {% block table_end %}
        {% apply spaceless %}
          {% if isSelectable and renderSelectionButtons %}
            <tfoot>
              <tr>
                <td colspan="{{ columnsLength }}">{{ selection_buttons(tableView) }}</td>
              </tr>
            </tfoot>
          {% endif %}
        </table>
        {% if isSelectable %}
        </form>
      {% endif %}
    </div>
  {% endapply %}
{% endblock %}

{% block table_head %}
  {% apply spaceless %}
    <thead>
      <tr>
        {% for column in columns %}
          <th class="th-col-{{ loop.index}}" {{ column.headAttributes|format_attributes }}>
            {% if column.label|length > 0 %}
              {{ column.label|trans }}
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
  {% endapply %}
{% endblock %}

{% block table_body %}
  {% apply spaceless %}
    <tbody>
      {% for row in rows %}
        <tr{{ tableView.rowAttributes(row)|format_attributes }}>
          {% for column in columns %}
            <td class="td-col-{{ loop.index}}" {{ column.attributes|format_attributes }}>
              {% if column.view is defined %}
                {{ include(column.view, { 'row': row, 'entity': row.entity }) }}
              {% elseif column.content(row)|length > 0 %}
                {% if column.trans %}
                  {{ column.content(row)|raw|trans }}
                {% else %}
                  {{ column.content(row)|raw }}
                {% endif %}
              {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% else %}
        <tr>
          <td colspan="{{ columns|length }}">{{ emptyValue|trans([], 'gus_table') }}</td>
        </tr>
      {% endfor %}
    </tbody>
  {% endapply %}
{% endblock %}
